<div class="paddingX ">
    <h4 class="pageHeading  pb-0 paddingXleft paddingXright">Change Your Password</h4>
    <form class=" paddingX" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">   
        <div class="form-group ">     
          <label for="exampleInputEmail1">Username</label> 
          <input type="text" class="form-control" id="exampleInputEmail1" ariadescribedby="emailHelp" placeholder="Username" formControlName="username">     
          <small id="emailHelp" class="form-text text-muted">enter your username</small>   
        </div>   
        <div class="form-group">     
          <label for="exampleInputPassword1">Password</label>     
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Current Password" formControlName="oldPassword">   
        </div>   
        <div class="form-group">     
            <label for="exampleInputPassword2">New Password</label>     
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="New Password" formControlName="newPassword">   
          </div>
          <div class="form-group">     
              <label for="exampleInputPassword3">Confirm Password</label>     
              <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirm Password" formControlName="confirmPassword">   
            </div>
          
        <div class="text-danger uk-text-bold pb-4" *ngIf="msg">{{msg}}</div> 
        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Submit</button> 
        <!-- <button type="button" class="btn btn-warning pl-3" (click) = "cancel()">Cancel</button>  -->
      </form>
  </div>