
<div class="pl-3 pr-3 col-md-auto">

    <h4 class="pageHeading  pb-4 pt-3">Waiting List</h4>
  <table class="table table-striped mt-3">
  <thead>
    <th scope="col">id</th>
    <th scope="col">Category</th>
    <th scope="col">Name of Holder</th>
    <!-- <th scope="col">Identification No.</th> -->
    <!-- <th scope="col">Description</th> -->
    <th scope="col">Email</th>
    <!-- <th scope="col"></th>
    <th scope="col"></th> -->
    <!-- <th scope="col"></th> -->

  </thead>
  <tbody>
    
    <tr class="text-italic" *ngFor="let item of list | paginate: { itemsPerPage: size, currentPage: page, totalItems: total }" >
      <th class="font-weight-normal">{{item.id}}</th>
      <th class="font-weight-normal">{{item.item.itemType.name}}</th>
      <th class="font-weight-normal">{{item.item.attributeValues.NameOfHolder}}</th>
      <!-- <th class="font-weight-normal" *ngIf="item.item.attributeValues.Passport_Number">{{item.item.attributeValues.Passport_Number}}</th>
      <th class="font-weight-normal" *ngIf="item.item.attributeValues.ID_Number">{{item.item.attributeValues.ID_Number}}</th>
      <th class="font-weight-normal" *ngIf="item.item.attributeValues.Card_Number">{{item.item.attributeValues.Card_Number}}</th>
      <th class="font-weight-normal" *ngIf="item.item.attributeValues.Candidate_Number">{{item.item.attributeValues.Candidate_Number}}</th>
      <th class="font-weight-normal" *ngIf="item.item.attributeValues.Licence_Number">{{item.item.attributeValues.Licence_Number}}</th>
      <th class="font-weight-normal" *ngIf="item.item.attributeValues.Birth_Entry_Number">{{item.item.attributeValues.Birth_Entry_Number}}</th>
      <th class="font-weight-normal" *ngIf="item.item.attributeValues.Number">{{item.item.attributeValues.Number}}</th>
      <th class="font-weight-normal" *ngIf="item.item.attributeValues.Student_Number">{{item.item.attributeValues.Student_Number}}</th> -->
      <!-- <th class="font-weight-normal">{{item.item.description}}</th> -->
      <th class="font-weight-normal">{{item.email}}</th>
      <!-- <th scope="col"><i class="ion-md-information-circle"></i></th>
      <th scope="col"><i class="ion-md-create"></i></th> -->
      <!-- <th scope="col"><i class="ion-md-trash"></i></th> -->
      

      
    </tr>

  </tbody>
  </table>
    <div class="has-text-centered">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  
</div>