
<div class="pl-5 pr-5">
    <h4 class="pageHeading  pb-2 pt-3">Stations
        <a href="admin/add-station" class="float-right pageHeading"><i class="ion-md-add-circle-outline"></i></a>
    </h4>
    <table class="table table-striped mt-3 ">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">City/Town</th>
          <th scope="col">Address</th>
        </thead>
      
        <tbody>
          <tr class="text-italic" *ngFor="let item of stations | paginate: { itemsPerPage: size, currentPage: page, totalItems: total }" >
            
            <th class="font-weight-normal">{{item.name}}</th>
            <th class="font-weight-normal">{{item.location}}</th>
            <th class="font-weight-normal">{{item.address}}</th>
            <!-- <th class="font-weight-normal" ><i class="ion-md-trash" (click)="deleteStation(item.id)"></i></th>   -->
          </tr>
        </tbody>
      </table>

      <div class="has-text-centered">
          <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
</div>


