
<div class="p-1">
  <aside class="pl-3 ">
     <div class=" pt-2" >
  
     <ul class="navbar-nav" >
 
       <h4 class="pageHeading pt-1">Menu</h4>
         <li class="pb-2 pt-2 "><a href="admin/my-profile" class="nav-link">My Profile</a></li>
         <li class="pb-2 pt-2 "><a href="admin/users" class="nav-link">Users</a></li>
         <li class="pb-2 pt-2 "><a href="admin/applications" class="nav-link">Applications</a></li>
         <li class="pb-2 pt-2 "><a href="admin/stations" class="nav-link">Stations</a></li>
         <li class="pb-2 pt-2 "><a href="admin/found-items" class="nav-link " >Found Items</a></li>
         <li class="pb-2 pt-2 "><a href="admin/waiting-list" class="nav-link" >Waiting List</a></li>
         <li class="pb-2 pt-2 "><a href="admin/feedback" class="nav-link  ">Feedback</a></li>
         <li class="pb-2 pt-2 "><a href="admin/item-types" class="nav-link ">Item Types</a></li>
         <li class="pb-2 pt-2 "><a href="admin/item-attributes" class="nav-link ">Item Attributes</a></li>
     </ul>
 
     </div>
   </aside>
 </div>
 
 