<div class="">
  <div class="paddingX">
       <body class="bg-transparent text-dark py-5">
           <div class="container py-5">
                <div class="row">
                     <div class="col-md-2 text-center">
                          <h1 class="iconX"><i class="ion-md-alert" ></i><br/>ERROR</h1>
                     </div>
                     <div class="col-md-10">
                          <h1>OOOPS!!!!</h1>
                          <h4>Sorry, the page you tried to access could not be found or is forbidden. <br/>Please go back to the previous page to continue browsing.</h4>
                          <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
                     </div>
                </div>
           </div>
       
       </body>  
   
   </div>
</div>