<div class="container paddingX">
    <h4 class="pageHeading  pb-4">Contact Us</h4>
  <div class="row">
    <div class="col-sm">
     <h4 >Contact Details</h4>
     <p><a href="tel:+263773710231">+263773710231</a></p>
     <p><a href="tel:+263773956063">+263734956063</a></p>
     <p><a href="mailto:ftchekure@gmail.com">ftchekure@gmail.com</a></p>
     <p><a href="mailto:ftchekure@outlook.com">ftchekure@outlook.com</a></p>
     
     
    </div>
    <div class="col-sm">
     <h4>Address</h4>
     <div class="">
        <p>No. 30 2nd Ave. cnr. Fort Street</p>
        <p>Bulawayo</p>
        <p></p>
     </div>
     

    </div>
    
  </div>
  <div class="pt-5">
      <h4>Feedback</h4>
      <p class="italic">In case you have some feedback which might help us improve this platform, use the form below</p>
      <app-feedback></app-feedback>
    </div>
</div>

