<div class=" border-success">
        <div class="card-body pt-1 pb-0 pr-3 pl-3 col-3" >
          <h6 *ngIf="1">{{appli.appliname}}</h6>
          <h6 class="card-title display-4 text-right"> {{appli.appliname}}</h6>
        </div>
        <div> {{appli.username}}</div>
        <div> {{appli.firstName}} {{appli.lastName}}</div>
        <div>{{appli.phoneNumber}}</div>
        <div>{{appli.email}}</div>
        <div>{{appli.address}}</div>
        <div class="border border-primary pt-3">
          <h4>Station</h4>
          <div>{{appli.stationName}}</div>
          
          <div>{{appli.stationAddress}}</div>
          <div>{{appli.stationLocation}}</div>
        </div>
        
        <div></div>
      </div>
      