
  <div class="paddingX pb-4"> 
      <h4 class="pageHeading  paddingXleft pb-1">Report Lost Item</h4>

  <form class="paddingXleft paddingXright"  [formGroup]="itemForm">
      

    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Category</label>
    </div>
    <select class="custom-select" (change)="onSelect($event.target.value)" formControlName="itemTypeId">
      <!-- <option selected></option> -->
      <option *ngFor="let itemType of itemTypes" [value]="itemType.id">{{itemType.name}}</option>
    </select>
    </div>

  <div class="form-group" formArrayName="attributes"
    *ngFor="let item of itemForm.get('attributes').controls; let i = index;">
    <div *ngIf="item.get('property').value !== 'Description'" [formGroupName]="i">
      <!-- <label for="formGroupExampleInput">{{item.get('property').value}}</label> -->
      <input type="text" class="form-control" formControlName="value" placeholder="{{item.get('property').value}}">
    </div>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Description</label>
    <input type="text" class="form-control" formControlName="description" placeholder="Description">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" formControlName="email" placeholder="username@example.com">
  </div>


  <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="itemForm.invalid">Save</button>
  <!-- <button type="button" class="btn btn-danger" (click)="">Cancel</button> -->
  </form>
</div>
